<h1>Pages#contact</h1>

<p><%= number_to_phone "555.555.5555" %></p>

<p><%= number_to_currency "500024" %></p>

<p><%= number_to_percentage "0.7" %></p>

<p><%= number_with_delimiter "2384789123" %></p>
