<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">
    Hello and welcome to my Rails porftolio application.  In this I will be creating various
    items and making things using Rails and potentially, React.  The goal here is to learn.
    And witht that, enjoy :)
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
